@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "var.css";
@import "nav.css";
@import "user.css";
@import "badge.css";
@import "user-posted.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 350vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  text-decoration: none;
}
